@font-face {
    font-family: 'N27';
    src: url('../FONT/N27-Bold.woff2') format('woff2'),
         url('../FONT/N27-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'N27-Regular';
    src: url('../FONT/N27-Regular.woff2') format('woff2'),
         url('../FONT/N27-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'N27-RegularItalic';
    src: url('../FONT/N27-RegularItalic.woff2') format('woff2'),
         url('../FONT/N27-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'N27-Light';
    src: url('../FONT/N27-Light.woff2') format('woff2'),
         url('../FONT/N27-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: 'N27-Regular', Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    flex-direction: column; /* Change to column for mobile first approach */
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px; /* Add padding to avoid content touching screen edges */
}

.image-section {
    position: relative;
    width: 100%;
    max-width: 600px; /* Set a maximum width */
}

.image-section img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.title-overlay {
    position: absolute;
    top: 5%;
    right: 5%;
    transform: translateX(10%);
    color: rgb(0, 0, 0);
    text-align: left;
}

.title-overlay h1 {
    font-family: 'N27', Arial, sans-serif;
    font-size: 7rem;
    font-weight: bold;
    margin: 0;
    line-height: 0.9;
}

.title-overlay .line1 {
    display: block;
}

.title-overlay .line2 {
    display: block;
    margin-left: -25%;
}

.text-section {
    width: 100%;
    max-width: 600px; /* Set a maximum width */
    padding: 20px;
    padding-top: 150px;
}

.text-section p {
    font-size: 16px;
    margin-top: 20px;
    color: #333;
}

.details-section {
    width: 100%;
    max-width: 800px; /* Set a maximum width */
    margin: 0 auto;
    padding: 20px;
}

.contact-info {
    display: flex; /* Use flexbox for alignment */
    align-items: center;
    margin-bottom: 20px;
}

.contact-info h1 {
    font-family: 'N27', Arial, sans-serif;
    font-size: 5rem; /* Make this header larger */
    margin-right: 5vw; /* Increase space between the header and contact details with vw units */
}

.contact-details {
    flex: 1; /* Take the remaining space */
    text-align: right; /* Align text to the right */
}

.contact-details p {
    font-family: 'N27-Regular', Arial, sans-serif; /* Use regular font for the content */
}

.contact-details span {
    font-family: 'N27', Arial, sans-serif; /* Use bold font for the labels */
    font-weight: bold;
}

.education, .experience, .languages, .skills, .honors, .certificates {
    margin-bottom: 20px;
}

h1, h2, h3 {
    font-family: 'N27', Arial, sans-serif; /* Apply N27 font-family */
    font-weight: bold;
}

h3 {
    font-size: 2rem; /* Make h3 larger */
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.education .item,
.experience .item,
.languages .item,
.skills .item,
.honors .item,
.certificates .item {
    margin-bottom: 15px;
}

.education .title,
.experience .title,
.languages .title,
.skills .title,
.honors .title,
.certificates .title {
    font-family: 'N27-Regular', Arial, sans-serif; /* Use regular font */
    font-size: 1.25rem;
    display: inline; /* Keep title inline */
}

.education .duration,
.experience .duration,
.languages .duration,
.skills .duration,
.honors .duration,
.certificates .duration {
    font-family: 'N27-RegularItalic', Arial, sans-serif; /* Use regular italic font */
    font-size: 1rem;
    display: inline; /* Keep duration inline */
    margin-left: 10px; /* Add some space between title and duration */
}

.education .institution,
.experience .institution,
.languages .institution,
.skills .institution,
.honors .institution,
.certificates .institution {
    font-family: 'N27-Light', Arial, sans-serif; /* Use light font */
    font-size: 1rem;
    display: block; /* Keep institution on a new line */
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

.skills .subsection-title {
    font-family: 'N27-Bold', Arial, sans-serif; /* Use bold font for subsection titles */
    font-size: 1rem;
    display: inline;
}

.skills .details {
    font-family: 'N27-Regular', Arial, sans-serif; /* Use regular font for details */
    font-size: 1rem;
    display: inline;
}

.proficiency {
    font-family: 'N27-Light', Arial, sans-serif;
    font-size: 0.8rem; /* Adjust the size as needed */
    font-style: italic;
    margin-left: 10px; /* Add space between the text and the title */
}

/* Media queries for responsiveness */
@media (min-width: 768px) {
    .container {
        flex-direction: row; /* Change to row for larger screens */
    }

    .title-overlay {
        position: static;
        transform: none;
        text-align: center;
    }

    .title-overlay h1 {
        font-size: 5rem; /* Adjusted font size */
    }

    .title-overlay .line2 {
        margin-left: 0; /* Center align text */
    }

    .text-section {
        padding-top: 20px; /* Adjusted padding for larger screens */
    }
}

@media (min-width: 1200px) {
    .title-overlay h1 {
        font-size: 7rem; /* Adjusted font size */
    }
}
