@font-face {
    font-family: 'N27';
    src: url('../FONT/N27-Bold.woff2') format('woff2'),
         url('../FONT/N27-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'N27-Regular';
    src: url('../FONT/N27-Regular.woff2') format('woff2'),
         url('../FONT/N27-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'N27-RegularItalic';
    src: url('../FONT/N27-RegularItalic.woff2') format('woff2'),
         url('../FONT/N27-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'N27-Light';
    src: url('../FONT/N27-Light.woff2') format('woff2'),
         url('../FONT/N27-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'N27-Regular', sans-serif;
}
h1{
    font-size: 4rem;
    line-height: 0.8;
}

.logo {
    position: fixed;
    padding: 1.5em;
}
.logo a {
    text-decoration: none;
    color: #000;
    font-family: 'N27', sans-serif;
    font-weight: bold;
}
.sidebar {
    width: 100vh;
    height: max-content;
    display: flex;
    align-items: flex-start;
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: left top;
    padding: 1.5em 3em;
    font-family: 'N27-Light', sans-serif;
}
.sidebar > div:nth-child(1) {
    flex: 2;
}

.sidebar > div:nth-child(2) {
    flex: 2;
    display: flex;
    gap: 6em;
}
p#header {
    font-family: 'N27', sans-serif;
    text-transform: uppercase;
    font-size: 7.5rem;
    line-height: 85%;
    margin-bottom: 4rem;
}
.slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slider-wrapper {
    position: absolute;
    top: 0;
    width: 8000px;
    padding: 0 600px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 100px;
}
.slide {
    width: 400px;
    height: auto;
    background: #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
