@font-face {
    font-family: 'N27-Medium';
    src: url('../FONT/N27-Medium.woff2') format('woff2'),
         url('../FONT/N27-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'N27-MediumItalic';
    src: url('../FONT/N27-MediumItalic.woff2') format('woff2'),
         url('../FONT/N27-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'N27';
    src: url('../FONT/N27-Bold.woff2') format('woff2'),
         url('../FONT/N27-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'N27-RegularItalic';
    src: url('../FONT/N27-RegularItalic.woff2') format('woff2'),
         url('../FONT/N27-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'N27-Regular';
    src: url('../FONT/N27-Regular.woff2') format('woff2'),
         url('../FONT/N27-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 150%; /* Adjusted width to reduce horizontal size */
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Disable vertical scrolling */
    background: #EBEBEB; /* Set background color */
    scroll-behavior: smooth;
    font-family: 'N27', Arial, sans-serif;
}

.background {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #EBEBEB; /* Ensure a consistent background color */
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
    transition: all 1s ease; /* Smooth transition */
}

.overlay {
    position: absolute;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    color: white;
    z-index: 2;
    mix-blend-mode: difference;
}

.overlay h1 {
    font-family: 'N27', Arial, sans-serif;
    font-size: 6.8rem;
    margin: 0;
    margin-bottom: 20px;
    align-self: flex-start;
    padding-left: 20px;
    cursor: pointer; /* Added rule to change cursor */
    line-height: 0.8; /* Adjust line height */
}

.overlay .ai-text {
    font-family: 'N27', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
}

.overlay .bottom-right {
    font-family: 'N27', Arial, sans-serif;
    position: absolute;
    top: 150px;
    bottom: 20px; /* Increase this value to move the text further down */
    right: 10px;
    text-align: right;
    line-height: 0.85;
    white-space: pre-wrap;
    margin: 0;
    padding: 0;
}

.overlay .bottom-right .arrow-container {
    margin-bottom: 10px; /* Reduced spacing */
    position: relative;
    display: inline-block;
    cursor: pointer; /* Revert to default pointer cursor */
    overflow: hidden; /* Ensure pseudo-element is contained */
}

button, .arrow-container {
    cursor: pointer; /* Revert to default pointer cursor */
}

.arrow-glyph {
    padding-right: 30px;
}

.overlay .bottom-right .arrow-glyph {
    font-size: 6.4rem; /* Adjusted size */
    color: white; /* Adjust color as needed */
}

.overlay .bottom-right .text-container p {
    font-size: 5.2rem;
    margin: 0;
}

.overlay .bottom-right .small-text-container {
    margin-top: 0px; /* Space between the main text and small text */
}

.overlay .bottom-right .small-text {
    font-family: 'N27-Regular', Arial, sans-serif;
    font-size: 1rem;
    margin: 0;
}

.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    z-index: 3;
}

.menu-button {
    display: none;
    background: none;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1rem;
}

.location-language {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.location-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
}

.location-time span {
    margin-right: 10px;
}

.language-selector {
    margin-left: 20px;
    position: relative;
    cursor: pointer;
}

.language-selector #selected-language {
    font-size: 1rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    z-index: 1;
    top: 100%; /* Align items with the selected language */
    left: 50%;
    transform: translateX(-50%); /* Center align with the selected language */
    border: none; /* Remove bounding box */
    text-align: center; /* Center align text */
    width: max-content; /* Ensure the dropdown fits the content */
}

.dropdown-content div {
    color: white;
    padding: 5px 10px; /* Align items properly */
    transition: transform 0.3s, opacity 0.3s; /* Smooth transition */
}

.dropdown-content div.animating {
    text-decoration: underline; /* Underline on hover */
    animation: slide-up-disappear 0.3s forwards, slide-down-appear 0.3s 0.3s forwards;
}

@keyframes slide-up-disappear {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

@keyframes slide-down-appear {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.show {
    display: block;
}

.show-menu {
    display: flex !important;
    flex-direction: column;
}

.language-selector:hover #selected-language {
    text-decoration: underline;
}

@media (max-width: 1200px) {
    .overlay h1 {
        font-size: 5rem;
    }
    
    .overlay .bottom-right .text-container p {
        font-size: 4rem;
    }
}

@media (max-width: 992px) {
    .overlay h1 {
        font-size: 4rem;
    }

    .overlay .bottom-right .text-container p {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    .overlay h1 {
        font-size: 3.5rem;
        padding-left: 20px;
    }

    .video-background {
        width: calc(100% + 200px); /* Increase width by 200px */
        height: calc(100vh - 100px);
        left: -100px; /* Move left to center the increased width */
    }
}

@media (max-width: 576px) {
    .overlay h1 {
        font-size: 3rem;
        padding-left: 20px;
    }

    .video-background {
        width: calc(100% + 200px); /* Increase width by 200px */
        height: calc(100vh - 100px);
        left: -100px; /* Move left to center the increased width */
    }
}

/* New section styles */
.new-layout {
    position: absolute;
    top: 0;
    left: 100vw; /* Position at the right of the initial view */
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    display: flex;
    align-items: flex-start; /* Align items to the top */
    justify-content: flex-start; /* Align items to the left */
    z-index: 2; /* Ensure it is above other elements */
    overflow: hidden;
    background: #EBEBEB; /* Ensure a consistent background color */
}

.new-layout .vertical-video-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 30vw; /* Adjust width as necessary */
    height: 100vh;
    overflow: hidden;
    z-index: 1; /* Set to background */
}

.new-layout .vertical-video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.new-overlay {
    position: absolute; /* Position absolutely within the layout */
    top: 20px; /* Adjust top position */
    left: 20px; /* Adjust left position */
    text-align: left; /* Align text to the left */
    color: white; /* White text for contrast */
    z-index: 2; /* Ensure it's above the video but below other elements */
    mix-blend-mode: difference; /* Apply blend mode */
}

.new-overlay h1 {
    font-family: 'N27', Arial, sans-serif;
    font-size: 6.2rem; /* Match the size of the overlay h1 */
    margin: 0;
    margin-bottom: 20px;
    line-height: 0.95; /* Adjust line height for better spacing */
}

.new-overlay .medium-text {
    font-family: 'N27-Regular', Arial, sans-serif;
    font-size: 4.5rem; /* Adjust size for "HI, I'M AN" */
}

.new-overlay .medium-text-italic {
    font-family: 'N27-RegularItalic', Arial, sans-serif;
    font-size: 2.6rem; /* Adjust size for "KIND OF" */
}

.new-overlay p {
    font-family: 'N27-Regular', Arial, sans-serif;
    font-size: 1.5rem;
    color: white; /* Ensure white color for contrast */
}
