@font-face {
    font-family: 'N27';
    src: url('../FONT/N27-Bold.woff2') format('woff2'),
         url('../FONT/N27-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'N27-Regular';
    src: url('../FONT/N27-Regular.woff2') format('woff2'),
         url('../FONT/N27-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura-Bold-Italic';
    src: url('../FONT/Futura-Bold-Italic.woff2') format('woff2'),
         url('../FONT/Futura-Bold-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: #EBEBEB; /* Set background color */
    scroll-behavior: smooth;
    font-family: 'N27', Arial, sans-serif;
}

.background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transition: all 1s ease; /* Smooth transition */
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    color: white;
    z-index: 2;
    mix-blend-mode: difference;
}

.overlay h1 {
    font-family: 'N27', Arial, sans-serif;
    font-size: 6.2rem;
    margin: 0;
    margin-bottom: 20px;
    align-self: flex-start;
    padding-left: 20px;
    cursor: pointer; /* Added rule to change cursor */
    line-height: 0.8; /* Adjust line height */
}

.overlay .ai-text {
    font-family: 'N27', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
}

.overlay .bottom-right {
    font-family: 'N27', Arial, sans-serif;
    position: absolute;
    top: 150px;
    bottom: 20px; /* Increase this value to move the text further down */
    right: 10px;
    text-align: right;
    line-height: 0.85;
    white-space: pre-wrap;
    margin: 0;
    padding: 0;
}

.overlay .bottom-right .arrow-container {
    margin-bottom: 10px; /* Reduced spacing */
}

.arrow-glyph {
    padding-right: 30px;
}

.overlay .bottom-right .arrow-glyph {
    font-size: 6.4rem; /* Adjusted size */
    color: white; /* Adjust color as needed */
}

.overlay .bottom-right .text-container p {
    font-size: 4.5rem;
    margin: 0;
}

.overlay .bottom-right .small-text-container {
    margin-top: 0px; /* Space between the main text and small text */
}

.overlay .bottom-right .small-text {
    font-family: 'N27-Regular', Arial, sans-serif;
    font-size: 1rem;
    margin: 0;
}

@media (max-width: 1200px) {
    .overlay h1 {
        font-size: 5rem;
    }
    
    .overlay .bottom-right .text-container p {
        font-size: 4rem;
    }
}

@media (max-width: 992px) {
    .overlay h1 {
        font-size: 4rem;
    }
}

@media (max-width: 768px) {
    .overlay h1 {
        font-size: 3.5rem;
        padding-left: 20px;
    }

    .video-background {
        width: calc(100% + 200px); /* Increase width by 200px */
        height: calc(100vh - 100px);
        left: -100px; /* Move left to center the increased width */
    }
}

@media (max-width: 576px) {
    .overlay h1 {
        font-size: 3rem;
        padding-left: 20px;
    }

    .video-background {
        width: calc(100% + 200px); /* Increase width by 200px */
        height: calc(100vh - 100px);
        left: -100px; /* Move left to center the increased width */
    }
}

.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    z-index: 3;
}

.menu-button {
    display: none;
    background: none;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1rem;
}

.location-language {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.location-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
}

.location-time span {
    margin-right: 10px;
}

.language-selector {
    margin-left: 20px;
    position: relative;
    cursor: pointer;
}

.language-selector #selected-language {
    font-size: 1rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    z-index: 1;
    top: 100%; /* Align items with the selected language */
    left: 50%;
    transform: translateX(-50%); /* Center align with the selected language */
    border: none; /* Remove bounding box */
    text-align: center; /* Center align text */
    width: max-content; /* Ensure the dropdown fits the content */
}

.dropdown-content div {
    color: white;
    padding: 5px 10px; /* Align items properly */
    transition: transform 0.3s, opacity 0.3s; /* Smooth transition */
}

.dropdown-content div.animating {
    text-decoration: underline; /* Underline on hover */
    animation: slide-up-disappear 0.3s forwards, slide-down-appear 0.3s 0.3s forwards;
}

@keyframes slide-up-disappear {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

@keyframes slide-down-appear {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.show {
    display: block;
}

.show-menu {
    display: flex !important;
    flex-direction: column;
}

.language-selector:hover #selected-language {
    text-decoration: underline;
}

@media (max-width: 576px) {
    .menu-button {
        display: block;
    }

    .location-language {
        display: none;
    }

    .top-right {
        flex-direction: column;
        top: 10px;
        right: 10px;
        align-items: flex-end;
    }

    .location-time {
        margin-bottom: 10px;
    }

    .overlay h1 {
        font-size: 2.5rem;
        padding-left: 10px;
    }

    .video-background {
        width: calc(100% + 200px); /* Increase width by 200px */
        height: calc(100vh - 100px);
        left: -100px; /* Move left to center the increased width */
    }
}
