@font-face {
    font-family: 'N27-Bold';
    src: url('../FONT/N27-Bold.woff2') format('woff2'),
         url('../FONT/N27-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'N27-Light';
    src: url('../FONT/N27-Light.woff2') format('woff2'),
         url('../FONT/N27-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: 'N27-Regular', Arial, sans-serif;
    background-color: #f2f2f2;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-image: var(--bg-image);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 2s cubic-bezier(0.25, 0.1, 0.25, 1), background-image 0s;
    z-index: -1;
}

body.animate-bg::before {
    transform: translate(-50%, -50%) scale(0.5);
}

.header {
    position: absolute;
    top: 10px;
    left: 20px;
    text-align: left;
    font-size: clamp(2rem, 8vw, 10rem);
    font-family: 'N27-Bold', sans-serif;
    font-weight: bold;
    color: #000;
    line-height: 1;
}

.content {
    position: absolute;
    top: 31%;
    left: 1%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.content-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    line-height: 1.2;
    gap: 5px;
}

.content-item .category {
    font-family: 'N27-Light', sans-serif;
    font-weight: normal;
    color: #777;
    font-size: 0.75rem;
    margin-bottom: 5px;
}

.content-item a {
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.content-item div {
    font-size: 1.5rem;
    font-family: 'N27-Bold', sans-serif;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    position: relative;
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border: none;
    background: none;
    padding-left: 5px;
    transition: all 0.3s ease;
}

.content-item div:hover {
    text-decoration: underline;
    animation: hoverEffect 0.6s ease-in-out;
}

@keyframes hoverEffect {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(-10px);
        opacity: 0;
    }
    51% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.scroll-text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'N27-Light', sans-serif;
    font-size: 0.75rem;
    color: #777;
    text-align: center;
    text-transform: uppercase;
}

.dynamic-paragraph {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 30%;
    font-family: 'N27-Light', sans-serif;
    font-size: 1rem;
    color: #000;
    text-align: right;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .header {
        font-size: clamp(2rem, 10vw, 8rem);
    }

    .content {
        width: 50%;
    }

    .dynamic-paragraph {
        width: 40%;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .header {
        font-size: clamp(2rem, 12vw, 6rem);
    }

    .content {
        width: 80%;
    }

    .dynamic-paragraph {
        width: 60%;
        font-size: 0.8rem;
    }
}

/* Add these styles for the transition effect */
.transition-block {
    position: fixed;
    bottom: -100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 1000;
    transition: bottom 0.5s ease-in-out;
}

.transition-block.show {
    bottom: 0;
}

.transition-block-background {
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #EBEBEB;
    z-index: 1001;
    transition: top 0.5s ease-in-out;
}
